In [1]:
# Import necessary libraries
import pandas as pd
from openai import OpenAI
from openaivec import VectorizedOpenAI
from typing import List
from pydantic import BaseModel

# import openaivec.pandas_ext

This example demonstrates how to integrate the `openaivec.pandas_ext` module with Pandas for text translation tasks. Follow the examples below for single and multi-language translations.

In [ ]:
from openaivec import pandas_ext

pandas_ext.use_openai(
    os.environ["OPENAI_API_KEY"],
)

### Create a DataFrame

We define a list of English entities and create a Pandas DataFrame from this list.

In [3]:
# Define a list of entities to translate
entities: List[str] = ["apple", "banana", "orange", "grape", "kiwi", "mango", "peach", "pear", "pineapple", "strawberry"]

In [4]:
# Create a DataFrame from the entity list
df = pd.DataFrame({"entity": entities})
df

       entity
0       apple
1      banana
2      orange
3       grape
4        kiwi
5       mango
6       peach
7        pear
8   pineapple
9  strawberry

In [5]:
# Translate entity to French and add as a new column
df.assign(
    fr=lambda df: df.entity.openaivec.predict("gpt-4o-mini", "translate to French")
)

       entity      fr
0       apple   pomme
1      banana  banane
2      orange  orange
3       grape  raisin
4        kiwi    kiwi
5       mango  mangue
6       peach   pêche
7        pear   poire
8   pineapple  ananas
9  strawberry  fraise

# Structured Output with pandas_ext

In [6]:
# Define a structured output model for translations (Example: using Pydantic for structured output)
class Translation(BaseModel):
    en: str  # English
    fr: str  # French
    ja: str  # Japanese
    es: str  # Spanish
    de: str  # German
    it: str  # Italian
    pt: str  # Portuguese
    ru: str  # Russian

translations = df.entity.openaivec.predict("gpt-4o-mini", "translate to multiple languages", respnse_format=Translation)

translations

0    en='apple' fr='pomme' ja='リンゴ' es='manzana' de...
1    en='banana' fr='banane' ja='バナナ' es='plátano' ...
2    en='orange' fr='orange' ja='オレンジ' es='naranja'...
3    en='grape' fr='raisin' ja='ぶどう' es='uva' de='T...
4    en='kiwi' fr='kiwi' ja='キウイ' es='kiwi' de='Kiw...
5    en='mango' fr='mangue' ja='マンゴー' es='mango' de...
6    en='peach' fr='pêche' ja='桃' es='durazno' de='...
7    en='pear' fr='poire' ja='梨' es='pera' de='Birn...
8    en='pineapple' fr='ananas' ja='パイナップル' es='piñ...
9    en='strawberry' fr='fraise' ja='いちご' es='fresa...
dtype: object